<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
	<form action="#" th:action="@{/temperaturaconversor}" th:object="${temperaturaConversorModel}"
		method="post">
		<p>
			Temperatura Entrada: <input type="text" th:field="*{temperaturaEntrada}" />
		</p>
		<p>
			<input type="submit" value="Converter" /> 
			<input type="reset" value="Limpar" />
		</p>
	</form>
</body>
</html>